## Analysis Challenge Assignment 1
Authors: Jingfei Chen, Yutong Shen, Yiran Wang

### 1. Criteria
#### 1.1 Alex's criteria

1. safety (low crime),

2. urban -- Maria wants to live the big city life, and

3. diversity -- Maria wants to study in a university with a diverse culture

4. quality -- the school should offer a decent educational program

#### 1.2 Our group's definition

1. Safety

    We take the crime_2010 excel sheet from: https://ucr.fbi.gov/crime-in-the-u.s/2010/crime-in-the-u.s.-2010/tables/10tbl08.xls/view
    
    We created our own "Crime Rate Adjusted" based on the "Violent Crime", "Property Crime", and "Population". We weighted heavier on "Violent Crime" (70%) because it's more threatening than "Property Crime" (30%).
    
    The "Crime Rate adjusted" is generated following the formula: (D2*0.7+I2*0.3)/C2
2. Urban

    For urban criteria, we based mainly on Locale of institution.
    
    As Alex wants to live the big city life, we only take the schools that fulfills "City: Large (population of 250,000 or more)".
3. Diversity

    We define diversity by including student from different race and gender.
    
    We first filtered out the school that are open only for specific student population, including:
    
    a. "Historically Black College and University"
    
    b. "predominantly black institution"
    
    c. "Alaska Native Native Hawaiian serving institution"
    
    d. "tribal college and university"
    
    e. "Asian American Native American Pacific Islander-serving institution"
    
    f. "Hispanic-serving institution"
    
    g. "Native American non-tribal institution"
    
    h. "men-only college"
    
    i. "women-only college"
    
    We looked more closely on the race issue based on the "Total share of enrollment of undergraduate degree-seeking students" by race：
    
    a. "Total share of enrollment of undergraduate degree-seeking students who are white” should be less than 80%;
    
    b. "Total share of enrollment of undergraduate degree-seeking students who are black" should be greater than 3%;
    
    c. "Total share of enrollment of undergraduate degree-seeking students who are Hispanic" should be greater than 3%;
    
    d. "Total share of enrollment of undergraduate degree-seeking students who are Asian" should be greater than 3%.
4. Quality

    For the school quality, we take the school that are:
    
    a. currently operating,

    b. is not distance-education-only education,

    c. offers Bachelor's degree in Education,

    d. offers graduate degree,

    e. completion rate higher than 60%, and
    
    f. admission rate smaller than 50%.

### 2. Import, clean, prepare, and merge data

In [1]:
import numpy as np
import pandas as pd

#### 2.1 College Scorecard Dataset

In [3]:
ACA1data = pd.read_csv("/Users/Wyr/Desktop/HUDK 4050/ACA/ACA 1/ACA1_dataset/CollegeScorecard.csv")
# ACA1data

In [4]:
ACA1data

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP,C200_L4_POOLED_SUPP,C200_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,...,0.443586698,0.452513966,0.484818805,0.406,0.423580786,0.44245283,NaN,0.308718313,NaN,0.351685564
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,0.732297853,0.795454545,0.760521886,0.755344418,0.751552795,0.765074771,NaN,0.508549808,NaN,0.473092383
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,...,0.600877193,0.775,0.610465116,0.686567164,0.632653061,0.65,NaN,PrivacySuppressed,NaN,PrivacySuppressed
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.738341969,0.851405622,0.768378651,0.79844098,0.778156997,0.791666667,NaN,0.478211346,NaN,0.494129398
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/email/index.aspx,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.320016821,0.380829016,0.364423718,0.286530612,0.315737052,0.334633385,NaN,0.257481955,NaN,0.293651627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,http://columbus.gmc.cc.ga.us/,NaN,...,0.42789148,0.607753706,0.490091055,0.461751152,0.490384615,0.495152871,NaN,NaN,NaN,NaN
7800,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,http://valdosta.gmc.cc.ga.us/,NaN,...,0.42789148,0.607753706,0.490091055,0.461751152,0.490384615,0.495152871,NaN,NaN,NaN,NaN
7801,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,http://robins.gmc.cc.ga.us/,NaN,...,0.42789148,0.607753706,0.490091055,0.461751152,0.490384615,0.495152871,NaN,NaN,NaN,NaN
7802,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,http://online.gmc.cc.ga.us/,NaN,...,0.42789148,0.607753706,0.490091055,0.461751152,0.490384615,0.495152871,NaN,NaN,NaN,NaN
7803,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,http://fairburn.gmc.cc.ga.us/,NaN,...,0.42789148,0.607753706,0.490091055,0.461751152,0.490384615,0.495152871,NaN,NaN,NaN,NaN

In [5]:
ACA1mask1 = (ACA1data['LOCALE'] == 11) & \
            (ACA1data['HBCU'] == 0) & (ACA1data['PBI'] == 0) & (ACA1data['ANNHI'] == 0) & \
            (ACA1data['TRIBAL'] == 0) & (ACA1data['AANAPII'] == 0) & (ACA1data['HSI'] == 0) & (ACA1data['NANTI'] == 0) & \
            (ACA1data['MENONLY'] == 0) & (ACA1data['WOMENONLY'] == 0) & \
            (ACA1data['UGDS_WHITE'] < 0.8) & \
            (ACA1data['UGDS_BLACK'] > 0.03) & (ACA1data['UGDS_HISP'] > 0.03) & (ACA1data['UGDS_ASIAN'] > 0.03) & \
            (ACA1data['CURROPER'] == 1) & (ACA1data['DISTANCEONLY'] == 0) & (ACA1data['CIP13BACHL'] > 0) & (ACA1data['HIGHDEG'] == 4) & \
            (ACA1data['C150_4'] >= 0.6) & (ACA1data['ADM_RATE'] <= 0.5)
ACA1data[ACA1mask1] 
# The first line filtered the URBAN criterion.
# The second to fourth lines filtered out the school that are open only for specific student population.
# The fifth and sixth lines choose the schools that have a fairly reasonable "Total share of enrollment of undergraduate degree-seeking students" by race.
# The last two lines filtered the QUALITY criterion.

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP,C200_L4_POOLED_SUPP,C200_4_POOLED_SUPP
246,110583,113900,1139,California State University-Long Beach,Long Beach,CA,90840-0115,Western Association of Schools and Colleges Se...,www.csulb.edu,www.csumentor.edu/finaid/pais/,...,0.858698117,0.90881459,0.890104773,0.85478424,0.867622951,0.888017917,NaN,0.585847308,NaN,0.639174871
453,120254,124900,1249,Occidental College,Los Angeles,CA,90041-3392,Western Association of Schools and Colleges Se...,www.oxy.edu,www.oxy.edu/admission-aid/financial-aid/net-pr...,...,0.952380952,0.956097561,0.963800905,0.94,0.893939394,0.965034965,NaN,0.86025,NaN,0.845502146
499,122409,115100,1151,San Diego State University,San Diego,CA,92182,Western Association of Schools and Colleges Se...,www.sdsu.edu,www.csumentor.edu/finaid/pais/,...,0.842142026,0.910703726,0.884212822,0.856858847,0.856589147,0.89025544,NaN,0.660979954,NaN,0.689472107
548,123961,132800,1328,University of Southern California,Los Angeles,CA,90089,Western Association of Schools and Colleges Se...,www.usc.edu/,www.usc.edu/admission/fa/applying_receiving/un...,...,0.937175793,0.963589744,0.958422175,0.94375703,0.925722146,0.96008788,NaN,0.906973406,NaN,0.904167201
710,131159,143400,1434,American University,Washington,DC,20016-8001,Middle States Commission on Higher Education,WWW.AMERICAN.EDU,www.american.edu/financialaid/Net-Price-Calcul...,...,0.896487985,0.942616034,0.925688073,0.930645161,0.908,0.931963147,NaN,0.782630266,NaN,0.788609331
716,131469,144400,1444,George Washington University,Washington,DC,20052,Middle States Commission on Higher Education,www.gwu.edu,undergraduate.admissions.gwu.edu/net-price-cal...,...,0.933884298,0.959677419,0.966962127,0.932489451,0.944444444,0.953031131,NaN,0.801883169,NaN,0.813355556
717,131496,144500,1445,Georgetown University,Washington,DC,20057-0001,Middle States Commission on Higher Education,www.georgetown.edu,finaid.georgetown.edu/net-price-calc,...,0.948113208,0.972868217,0.973072215,0.960254372,0.958083832,0.971877585,NaN,0.928865118,NaN,0.936161579
848,137351,153700,1537,University of South Florida-Main Campus,Tampa,FL,33620-9951,Southern Association of Colleges and Schools C...,www.usf.edu,usfweb2.usf.edu/finaid/npc/npcalc.htm,...,0.754408419,0.843988146,0.797875276,0.779557762,0.784959759,0.79726109,NaN,0.597743539,NaN,0.561905357
1028,144050,177400,1774,University of Chicago,Chicago,IL,60637,North Central Association of Colleges and Scho...,WWW.UCHICAGO.EDU,collegeadmissions.uchicago.edu/costs/apply/cal...,...,0.928994083,0.961419753,0.971982759,0.929549902,0.895522388,0.965559656,NaN,0.923304188,NaN,0.933493967
1547,160755,202900,2029,Tulane University of Louisiana,New Orleans,LA,70118-5698,Southern Association of Colleges and Schools C...,tulane.edu,tulane.studentaidcalculator.com,...,0.726918075,0.898517674,0.818181818,0.817365269,0.780748663,0.838235294,NaN,0.75716069,NaN,0.7037
1608,162928,207700,2077,Johns Hopkins University,Baltimore,MD,21218-2688,Middle States Commission on Higher Education,www.jhu.edu,npc.collegeboard.org/student/app/jhu,...,0.916666667,0.945492662,0.938040346,0.940594059,0.93627451,0.941114616,NaN,0.923162246,NaN,0.915120085
1666,164988,213000,2130,Boston University,Boston,MA,2215,New England Association of Schools and College...,www.bu.edu,www.bu.edu/finaid/eligibility/calculated_need....,...,0.913081651,0.95864156,0.949019608,0.94086728,0.925203252,0.952237909,NaN,0.841964471,NaN,0.847167259
1749,167358,219900,2199,Northeastern University,Boston,MA,02115-5005,New England Association of Schools and College...,www.northeastern.edu,www.northeastern.edu/financialaid/loans/financ...,...,0.851960211,0.936955259,0.912444113,0.906727198,0.868525896,0.926932208,NaN,0.805307854,NaN,0.776971158
1936,174066,396900,3969,University of Minnesota-Twin Cities,Minneapolis,MN,55455-0213,North Central Association of Colleges and Scho...,www1.umn.edu/twincities/index.php,npc.collegeboard.org/student/app/tcumn,...,0.868055556,0.940728657,0.912214499,0.906736888,0.884942471,0.920544337,NaN,0.741513322,NaN,0.724807973
2434,190150,270700,2707,Columbia University in the City of New York,New York,NY,10027,Middle States Commission on Higher Education,www.columbia.edu,www.studentaffairs.columbia.edu/finaid/npc,...,0.85141159,0.928509154,0.89640592,0.903488372,0.842281879,0.916262976,NaN,0.94164185,NaN,0.936209336
2447,190512,727300,7273,CUNY Bernard M Baruch College,New York,NY,10010,Middle States Commission on Higher Education,www.baruch.cuny.edu,portal0.uapc.cuny.edu/uapc/public/fin_aid/fina...,...,0.849154746,0.899497487,0.881493506,0.848708487,0.834782609,0.889078498,NaN,0.647335437,NaN,0.653437673
2480,191241,272200,2722,Fordham University,Bronx,NY,10458,Middle States Commission on Higher Education,www.fordham.edu,www.fordham.edu/finaid/npc,...,0.816651904,0.9409257,0.89514218,0.885122411,0.848837209,0.915838996,NaN,0.807652618,NaN,0.793644803
2559,193900,278500,2785,New York University,New York,NY,10012-1091,Middle States Commission on Higher Education,www.nyu.edu,www.nyu.edu/admissions/financial-aid-and-schol...,...,0.86371308,0.944130926,0.923939151,0.891776938,0.862895494,0.929726089,NaN,0.841047935,NaN,0.866641678
2878,201645,302400,3024,Case Western Reserve University,Cleveland,OH,44106,North Central Association of Colleges and Scho...,www.case.edu,financialaid.case.edu/npc.aspx,...,0.938428875,0.973490427,0.952380952,0.963235294,0.944954128,0.96424581,NaN,0.791792222,NaN,0.8096857
3119,207971,318500,3185,University of Tulsa,Tulsa,OK,74104-3189,North Central Association of Colleges and Scho...,www.utulsa.edu,resources.utulsa.edu/net-price-calculator/npca...,...,0.81570997,0.914728682,0.904392765,0.829192547,0.82183908,0.892494929,NaN,0.67484912,NaN,0.674369
3230,211440,324200,3242,Carnegie Mellon University,Pittsburgh,PA,15213-3890,Middle States Commission on Higher Education,www.cmu.edu/,admission.enrollment.cmu.edu/pages/financial-a...,...,0.938388626,0.993902439,0.973451327,0.975452196,0.973451327,0.978723404,NaN,0.873769802,NaN,0.88435
3383,215062,337800,3378,University of Pennsylvania,Philadelphia,PA,19104-6303,Middle States Commission on Higher Education,www.upenn.edu,npc.collegeboard.org/student/app/upenn,...,0.946428571,0.968817984,0.961616162,0.962406015,0.919148936,0.969306323,NaN,0.958297605,NaN,0.962979
3676,221999,353500,3535,Vanderbilt University,Nashville,TN,37240,Southern Association of Colleges and Schools C...,www.vanderbilt.edu,npc.collegeboard.org/student/app/vanderbilt,...,0.92211838,0.963691377,0.94953271,0.952164009,0.928571429,0.952267303,NaN,0.923592022,NaN,0.913583841
3809,227757,360400,3604,Rice University,Houston,TX,77005-1827,Southern Association of Colleges and Schools C...,www.rice.edu,rice.studentaidcalculator.com/survey.aspx,...,0.926229508,0.979661017,0.986425339,0.93814433,0.857142857,0.982857143,NaN,0.917568454,NaN,0.924696061
3848,228778,365800,3658,The University of Texas at Austin,Austin,TX,78712,Southern Association of Colleges and Schools C...,www.utexas.edu,www.collegeportraits.org/TX/UTAustin/,...,0.870282532,0.939027175,0.919374743,0.883715489,0.873617021,0.919872306,NaN,0.790563017,NaN,0.82910559

In [6]:
ACA1data[ACA1mask1]['INSTNM']
# Show the current school list after filtering the URBAN, DIVERSITY, and QUALITY criterion.
# We got 25 schools.

246          California State University-Long Beach
453                              Occidental College
499                      San Diego State University
548               University of Southern California
710                             American University
716                    George Washington University
717                           Georgetown University
848         University of South Florida-Main Campus
1028                          University of Chicago
1547                 Tulane University of Louisiana
1608                       Johns Hopkins University
1666                              Boston University
1749                        Northeastern University
1936            University of Minnesota-Twin Cities
2434    Columbia University in the City of New York
2447                  CUNY Bernard M Baruch College
2480                             Fordham University
2559                            New York University
2878                Case Western Reserve University
3119                            University of Tulsa
3230                     Carnegie Mellon University
3383                     University of Pennsylvania
3676                          Vanderbilt University
3809                                Rice University
3848              The University of Texas at Austin
Name: INSTNM, dtype: object

In [7]:
data = ACA1data[ACA1mask1]

#### 2.2 Crime Dataset

In [8]:
# read crime data
ACA1Crimedata = pd.read_csv("/Users/Wyr/Desktop/HUDK 4050/ACA/ACA 1/ACA1_dataset/Crime_2010.csv")
# ACA1Crimedata
ACA1Crimedata

,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson1,Crime Rate Adjusted,Unnamed: 14,Unnamed: 15
0,ALABAMA,Abbeville,"2,950",21,1.0,0,0,20,67,19,45,3,NaN,0.012,NaN,NaN
1,ALABAMA,Adamsville,"4,796",10,0.0,3,2,5,294,21,250,23,NaN,0.020,NaN,NaN
2,ALABAMA,Addison,714,0,0.0,0,0,0,33,3,26,4,NaN,0.014,NaN,NaN
3,ALABAMA,Alabaster,"30,781",33,0.0,0,7,26,515,22,458,35,NaN,0.006,NaN,NaN
4,ALABAMA,Albertville,"20,588",81,0.0,6,13,62,"1,112",346,710,56,NaN,0.019,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data[['INSTNM','CITY']]
# show the cities of the current school list

                                           INSTNM          CITY
246        California State University-Long Beach    Long Beach
453                            Occidental College   Los Angeles
499                    San Diego State University     San Diego
548             University of Southern California   Los Angeles
710                           American University    Washington
716                  George Washington University    Washington
717                         Georgetown University    Washington
848       University of South Florida-Main Campus         Tampa
1028                        University of Chicago       Chicago
1547               Tulane University of Louisiana   New Orleans
1608                     Johns Hopkins University     Baltimore
1666                            Boston University        Boston
1749                      Northeastern University        Boston
1936          University of Minnesota-Twin Cities   Minneapolis
2434  Columbia University in the City of New York      New York
2447                CUNY Bernard M Baruch College      New York
2480                           Fordham University         Bronx
2559                          New York University      New York
2878              Case Western Reserve University     Cleveland
3119                          University of Tulsa         Tulsa
3230                   Carnegie Mellon University    Pittsburgh
3383                   University of Pennsylvania  Philadelphia
3676                        Vanderbilt University     Nashville
3809                              Rice University       Houston
3848            The University of Texas at Austin        Austin

In [10]:
city = ['Long Beach', 'Los Angeles', 'San Diego', 'Washington', 'Tampa', 'Chicago', 'New Orleans', 'Baltimore', \
        'Boston', 'Minneapolis', 'New York', 'Bronxville Village', 'Cleveland', 'Tulsa', 'Pittsburgh', \
        'Philadelphia', 'Nashville', 'Houston', 'Austin']
# the list of cities which the schools are in
state = ['CALIFORNIA', 'CALIFORNIA', 'CALIFORNIA', 'DISTRICT OF COLUMBIA', 'FLORIDA', 'ILLINOIS', 'LOUISIANA', \
        'MARYLAND', 'MASSACHUSETTS', 'MINNESOTA', 'NEW YORK', 'NEW YORK', 'OHIO', 'OKLAHOMA', 'PENNSYLVANIA', \
        'PENNSYLVANIA', 'TENNESSEE', 'TEXAS', 'TEXAS']
# the list of states which the cities are in

safeCity = []
for x in range(19):

    ACA1City = (ACA1Crimedata['City'] == city[x]) & (ACA1Crimedata['State'] == state[x])
    if float(ACA1Crimedata[ACA1City]['Crime Rate Adjusted']) <= 0.02:
        safeCity.append(city[x]) 

# get the list of cities which the crime rates are below 0.02

safeCity[8] = 'Bronx'

# change 'Bronxville Village' to 'Bronx'

print(safeCity)

['Long Beach', 'Los Angeles', 'San Diego', 'Tampa', 'Chicago', 'New Orleans', 'Boston', 'New York', 'Bronx', 'Pittsburgh', 'Philadelphia']

In [11]:
# join the current school list with safeCity
C = pd.Series(safeCity, name='CITY')
finalList = data.merge(C, left_on='CITY', right_on='CITY', how='right')

# rank the remaining institutions based on admission rates
finalList['rank'] = finalList['ADM_RATE'].rank(method='min')

# print instution name, city, admission rate, and rank
finalList.sort_values(by=['rank'])[['INSTNM','CITY','ADM_RATE','rank']]

                                         INSTNM          CITY  ADM_RATE  rank
9   Columbia University in the City of New York      New York    0.0742   1.0
5                         University of Chicago       Chicago    0.0881   2.0
14                   University of Pennsylvania  Philadelphia    0.1224   3.0
2             University of Southern California   Los Angeles    0.1984   4.0
10                CUNY Bernard M Baruch College      New York    0.2483   5.0
13                   Carnegie Mellon University    Pittsburgh    0.2549   6.0
11                          New York University      New York    0.2605   7.0
6                Tulane University of Louisiana   New Orleans    0.2643   8.0
0        California State University-Long Beach    Long Beach    0.3082   9.0
3                    San Diego State University     San Diego    0.3121  10.0
8                       Northeastern University        Boston    0.3231  11.0
1                            Occidental College   Los Angeles    0.4239  12.0
4       University of South Florida-Main Campus         Tampa    0.4524  13.0
7                             Boston University        Boston    0.4561  14.0
12                           Fordham University         Bronx    0.4713  15.0

We got a 15 school list after filtering ranked based on admission rates.

### 3. Reference:

"Table 08, Data Declaration - Crime in the United States 2010". Fbi.gov. Retrieved December 16, 2014.